<h1>Welcome#about</h1>
<p>Contact Me</p>
<button type="button" class="link-btn"><i class="fa fa-github fa-3x" aria-hidden="true"><%= link_to "GitHub", "https://www.github.com/tr1vector", class: "social-btn" %></i></button>
