button:hover {
	border: 1px solid black;
}
.social-btn {
	color: black;
	text-decoration: none;
}

.link-btn {
	display: block;
	margin: 0 auto;
	border: 1px solid lightgray;
	border-radius: 25px;
	background-color: lightgray;
	text-decoration: none;
}

.social-btn:hover {
	text-decoration: none;
}